# Flask Configuration
FLASK_ENV=development
SECRET_KEY=your-secret-key-here-change-in-production

# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_NAME=llm_rag_db
DB_USER=postgres
DB_PASSWORD=your-postgres-password-here

# SERPER API
SERPER_API_KEY = your-serper-api-key-here

# Gemini API
GEMINI_API_KEY=your-gemini-api-key-here

# Google Cloud Configuration (Optional - for Cloud Storage)
GCP_PROJECT_ID=
GCP_SERVICE_ACCOUNT_KEY=
GCS_BUCKET_NAME=
